<section class="createRoom pb-5">
    <div class="room-info-header-container col-md-12 d-flex mb-4">
        <div class="row">
            <div class="create-room-header px-2">
                <h5 class="create-room-h4">Create room</h4>
            </div>
            <div class="general-info-header ml-2 px-2">
                <h5 class="general-h4">Edit General info</h4>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row mb-5 pb-5">
            <div class="general-info">
                <div class="general-info-container m-3">
                 <form action="/admin/roomGeneralInfo" method="post">
                    
                    <div class="roomGeneralInfo-form-container">
                        <div class="form-group">
                            <label for="Total floors">Total floors</label>
                            <input type="text" name="TotalFloors" class="form-control" id="totalFloor"
                                placeholder="Enter total floors">
                        </div>
                        <div class="form-group mb-3">
                            <label for="Total floors">Study Room</label>
                            <select class="form-select" name="StudyRoom" aria-label="Default select example">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>

                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Total floors">Mess Facility</label>
                            <select class="form-select" name="Mess" aria-label="Default select example">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>

                            </select>
                        </div>
                        <div class="roomBtn my-3">
                            <button type="reset" class="btn btn-primary">clear</button>
                            <button type="button" onclick="generalRoomInfoSubmit()" class="btn btn-primary generalRoominfoSubmit">Submit</button>
                        </div>
                        </div>
                        <div class="General-info-submit-container"> 
                            <div class="General-info-submit py-4">
                                <h2 align="center" class="">Are you sure,</h2><br>
                                <h3 align="center" class="mb-5">You want Update General Information</h3>
                                <div class="row btn-container px-5">
                                   
                                    <div class="reset-btn mt-3 mr-3">
                                        <button type="reset"  onclick="generalRoomInfoSubmit()" class="btn btn-primary">No</button>
                                    </div>
                                    <div class="submit-btn mt-3 ml-3">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>

                            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="createRoom-container px-4">

                {{!-- form for creating a new room --}}
                <form action="/admin/createRoom" method="post">

                <div class="create-room-container">


                    <div class="form-group">
                        <label for="RoomNo">Room Number</label>
                        <input type="text" name="RoomNo" class="form-control" id="RoomNo"
                            placeholder="Enter Room Number">
                    </div>


                    <div class="form-group">
                        <label for="Total FloorNumber">Floor Number</label>
                        <input type="text" name="FloorNo" class="form-control" id="totalRooms"
                            placeholder="Enter total rooms">
                    </div>


                    <div class="form-group">
                        <label for="RoomType">Room Type</label>
                        <select class="form-select" name="RoomType" aria-label="Default select example">
                            <option value="Normal">Normal</option>
                            <option value="Dormitory">Dormitory</option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="Total beds">Total beds</label>
                        <input type="text" name="TotalBeds" class="form-control" id="totalBeds"
                            placeholder="Enter total beds">
                    </div>

                    <div class="form-group">
                        <label for="AttachedBathroom">Attached Bathroom</label>
                        <select class="form-select" name="AttachedBathroom" aria-label="Default select example">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>

                        </select>
                    </div>
                    <button type="reset" class="btn btn-primary">Clear</button>
                    <button type="button" onclick="RoomInfoSubmit()"  class="btn btn-primary">Submit</button>
                    </div>


                        <div class="create-room-submit-container"> 
                            <div class="Room-info-submit py-4">
                                <h2 align="center" class="">Are you sure,</h2><br>
                                <h3 align="center" class="mb-5">You want to create a new room?</h3>
                                  <div class="row btn-container">
                                   
                                    <div class="reset-btn mt-3 mr-3">
                                        <button type="reset"  onclick="RoomInfoSubmit()" class="btn btn-primary">No</button>
                                    </div>
                                    <div class="submit-btn mt-3 ml-3">
                                        <button type="submit" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>

                            </div>
                       </div>


                </form>
            </div>
        </div>
    </div>
</section>