<section class="roomErr">
    <h1 align="center" class="mb-4 text-danger">There is no rooms</h1><br>
    <div class="row d-flex justify-content-center">
    <div class="goBack mr-2">
    <a href="/admin"> <button> back?</button> </a>
    </div>
     <div class="createRoom ml-2">
    <a href="/admin/createRoom"><button class="px-2">Create Rooms?</button></a>
    </div>
    </div>

</section>