<!-- gallery image upload by admin -->
<section>
    <form action="/admin/imgUpload" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" name="Image">
    </div>
    <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">submit</button>
  </div>
  </form>

</section>