<!--there is no hostelInfo found -->
<!--style for HostelEmptyErr-->
<style>
.errSection{
    height: 80vh;
}
.errSection h1,h3{
    color: black;
}
</style>
<section class="errSection d-flex flex-column justify-content-center align-items-center">
    <h1>There is no hostel info found</h2>
    <h3>Create a new hostel?</h5>
    <a href="/admin/CreateHostel" class="btn btn-primary mt-4">Create Hostel</a>

</section>