<section class="room-header">
    <div class="header p-3">
        <div class="row">
            <h2 class="col-md-10 col-12">Room Information</h2>
            <select name="Floor" id="" class="col-md-2 col-12">
                <option value="1">Ground floor</option>
                <option value="2">First floor</option>
                <option value="3">Second floor</option>
            </select>
        </div>
    </div>
</section>
<secion class="room-section">
    <div class="row">
        {{#each roomInfo}}
        <div class="card-container col-md-2 col-4 m-3 ">
            <div class="card">
                <div class="card-body p-0">
                    <h2 align="center" class="card-title my-5">{{this.RoomNo}}</h2>
                    <h6 align="center" class="bg-info mb-0 py-3">{{this.AvailablBeds}}/{{this.TotalBeds}}</h6>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</secion>