<section class="gallery-container p-4">
    <div class="container">
        <h1 class="text-center my-5 text-danger">Gallery</h1>
        <!-- Gallery -->
        <div class="row">
            {{#each imageGallery}}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img src="/GalleryImage/{{this._id}}.jpg" class="w-100 shadow-1-strong rounded mb-4"
                    alt="Boat on Calm Water" />
            </div>
            {{/each}}

        </div>

        <!-- Gallery -->
    </div>
</section>



  